

item
    display block

    width cell-size
    height cell-size

grid item
    position absolute


item.tree
    background url('/img/tree.png') no-repeat
    z-index 25

item.path
    background url('/img/path.png') no-repeat
    z-index 2

item.house
    background url('/img/house.png') no-repeat

div.items
    item
        transition-property opacity, transform
        transition-duration 250ms

    item.ng-enter
        opacity 0
        transform scale(0)

    item.ng-enter-active
        opacity 1
        transform scale(1)